body{
    background-image: url("fondecranface1.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
    background-attachment: fixed;
    background-position: 22% 4%;  
    
    
}

        
nav{
    border-radius:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-image:url("barrenav.jpg")
}
        

ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}
       

li{
    list-style: none;
    padding: 15px;   
}
        

li a{ 
    color: white; 
    text-decoration: none; 
    font-size: 30px; 
    text-shadow: 2px 2px 2px rgb(243, 239, 239);    
}


li:hover{
    background-color: rgb(79, 127, 199);
}


#yout{
color:rgb(241, 9, 9);
text-shadow: 2px 2px 2px rgb(243, 239, 239);
}


#mps{
color:rgb(11, 243, 11);
text-shadow: 2px 2px 2px rgb(243, 239, 239);
}


#div1{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 7%;
    margin-right: 15%;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 10px;
}


#imgif{
    border-radius: 10px;
    height: 10%;
}


.emoj{
    width:15%;
    height: 15%;
    padding-top: 0%;
    border-radius: 10px;   
}


.imageappli{
    width: 20%;;
   display: flex;
   border-radius: 10px;
   padding-top: 0%;
}


#div2{
    display: flex; 
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0%;
    padding-top: 0%;
}
  
    

#para{
    width: 10%;
    display: flex;
    flex-direction: column;
}


#texte1{
    font-size: 150%;
    color:white;   
}
#texte1:hover{
    color:red;
    zoom: 2;
}


#texte2{
    font-size: 130%;
    color:white
}
#texte2:hover{
    color:rgb(255, 123, 0);
    zoom: 2;
}



#texte3{
    font-size: 130%;
    color:white
}
#texte3:hover{
    color:rgb(255, 238, 0);
    zoom: 2;
}


#texte4{
    font-size: 130%;
    color:white
}
#texte4:hover{
    color:rgb(8, 63, 243);
    zoom: 2;
}


.doigt-lien
{    
    display: flex;
    align-items: center;
    WIDTH: 230px;
    justify-content: space-between;
    scroll-padding-bottom: 10%;
    margin-leftt: 30%;
}


.doigt
{
    width: 20%;    
}


.doigt-lien:hover .doigt{
    animation: doigt 1s infinite ;
    }
    
    @keyframes doigt {
    0% {transform: translate(0px);}
    50% {transform: translate(50px);}
    100% {transform: translate(0px);}
    }



