body{
    background-image: url("fondecranyoutube.jpg");
    background-repeat: no-repeat;
    background-size: 103%;
    background-position: 33% 18%;
}


        
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(newfondnave.jpg);
    background-size: 7%;
    border: solid 5px rgb(182, 22, 22);
}
   


ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}
 


li{
    list-style: none;
    padding: 15px;   
}



li a{ 
    color: rgb(5, 5, 5); 
    text-decoration: none; 
    font-size: 30px; 
    text-shadow: 2px 2px 2px rgb(73, 69, 69);
    font-style: unset;    
}



li:hover{
    background-color: rgb(79, 127, 199);
}



.div1{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-right: 5%;
}



#im1{
    height: 17%;
    width: 19%;
}



#im2{
    height: 8%;
    width: 10%;
}



#im3{
    height: 96px;
    width: 147px;
    border: solid 2px rgb(250, 247, 247);
}



.div2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 37%;
    margin-left: 47%;
    padding-left: 0%;
}



#im4{
    height: 8%;
    width: 23%; 
}



#im4bis{
    width: 90px;
}



.art{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}



.div3{
    width: 30%;
}



#im5{
    height: 100%;
    width: 23%;
}



.div4{
    display: flex;
    width: 20%;
    border: dashed 5px black;
    justify-content: space-between;
    margin-right: 35%;
    padding-left: 1%;
}



#im6{
    width: 82%; 
    height: 98%;
    padding-right: 2%;
    padding-left: -3%;
    margin-top: 1%;
}



#im7{
    width: 80%;
    height: 97%;
    margin-top: 1%;
}



#im8{
    width: 84%;
    margin-top: 1%;
}
    
